@model TiendaFamiliarMVC.Models.Ventas

@{
    ViewData["Title"] = "Editar";
}

<h1>Editar Registro - Venta</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="id" />
            <div class="form-group">
                <label asp-for="fecha" class="control-label"></label>
                <input asp-for="fecha" class="form-control" type="date" />
                <span asp-validation-for="fecha" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="producto" class="control-label"></label>
                <input asp-for="producto" class="form-control" />
                <span asp-validation-for="producto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="monto" class="control-label"></label>
                <input asp-for="monto" class="form-control" />
                <span asp-validation-for="monto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-primary" />
                <a asp-action="Index" style="background-color: red; border:none" class="btn btn-primary">Cancelar</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
