@{
    ViewData["Title"] = "Bienvenido a Tienda Familiar";
}

<div class="text-center">
    <h1 class="display-4">¡Bienvenidos a Tienda Familiar!</h1>

    <!-- Sección de Categorías -->
    <div class="container my-5">
        <h2>Productos Diponibles</h2>
        <div class="row justify-content-center">
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <img src="https://media.airedesantafe.com.ar/p/54d2b1876b8c0b6bd47448c2392de0c6/adjuntos/268/imagenes/003/670/0003670396/1200x0/smart/imagepng.png" alt="Papas" style="width: 300px; height: 200px;" />
                        <h5 class="card-title">Papas Fritas</h5>
                        <p class="card-text">Papas Fritas con Salsa Ketchup.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <img src="https://www.aceiteideal.com/wp-content/uploads/2020/08/PORTADA-encholadasalvadorena-2000x1200.png" alt="Papas" style="width: 300px; height: 200px;" />
                        <h5 class="card-title">Enchiladas</h5>
                        <p class="card-text">Enchiladas de Frijoles y Carne molida</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

